{% extends 'core/base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'core/css/login.css' %}">
{% endblock %}

{% block content %}
<div class="login-container">
    <div class="login-card">
        <div class="login-title">LOYOLA GIVE LIFE<br>CAFE</div>
        <form method="post">
            {% csrf_token %}
            <div class="input-box mb-4">
                <input type="text" name="username" class="form-control" placeholder=" " required>
                <label>Username</label>
            </div>
            <div class="input-box mb-4">
                <input type="password" name="password" class="form-control" placeholder=" " required>
                <label>Password</label>
            </div>
            <button type="submit" class="btn btn-login">login</button>
        </form>
    </div>
</div>
{% endblock %}